@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    user-select: none;
    overflow: hidden;
}

button, input, select{
    border: none;
    outline: none;
    font-family: 'Koulen', cursive;
    border-radius: 10px;
    font-size: 3vh;
    cursor: pointer;
}
button{
    background: #2c54ac;
    color: #ffffff;
}
button:hover{
    background-color: #6217a0;
}
input{
    padding-left: 10px;
    margin-left: 1rem;
    width: 40px;
}

select, input{
    background: #ffffff;
    color: #000000;
}

.titulo{
    font-family: 'Koulen', cursive;
    background-image: linear-gradient(to left, #c2fbff, #2c54ac);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    width: fit-content;
    font-size: 14vh;
    height: 18vh;
}

div{
    color: #ffffff;
    font-size: 3vh;
    font-family: 'Koulen', cursive;
    text-align: center;
    width: 100%;
}

.mainmenu{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -15vh;
    gap: 4vh;
    position: absolute;
}

.configs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

.buttonmenu{
    width: 40%;
    display: flex;
    justify-content: center;
    max-width: fit-content;
    gap: 2vh;
    flex-direction: column;
}

.subtitle{
    font-size: 3vh;
    width: 70%;
}

#page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgdiv{
    height: 45px;
    width: 45px;
    top: 2vh;
    right: 8vw;
    position: fixed;
}
.redbutton{
    background-color: #ee1717;
}
.pausebutton{
    position: absolute;
    top: 1vh;
}
.pausemenu{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 10%;
    gap: 5vh;
}

.admenu{
    width: 50%;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 1vh;
    display: flex;
    flex-direction: column;
}

.sped{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}