@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    user-select:none;
}

button{
    background: #2c54ac;
    font-family: 'Koulen', cursive;
    border-radius: 10px;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 2vw;
}

input{
    padding-left: 10px;
    margin-left: 1rem;
    width: 40px;
    background: #ffffff;
    font-family: 'Koulen', cursive;
    border-radius: 10px;
    color: #000000;
    border: none;
    outline: none;
    font-size: 1.5vw;
}

select{
    background: #ffffff;
    font-family: 'Koulen', cursive;
    border-radius: 10px;
    color: #000000;
    border: none;
    outline: none;
    font-size: 1.5vw;
}

.titulo{
    font-family: 'Koulen', cursive;
    background-image: linear-gradient(to left, #c2fbff, #2c54ac);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 9vw !important;
}

div{
    color: #ffffff;
    font-family: 'Koulen', cursive;
    font-size: 1.5vw;
}

.mainmenu{
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: fit-content;
    margin: auto;
    top: 65%;
    transform: translateY(-50%);
    position: absolute;
    margin: auto;
    text-align: center;
}

.topbutton{
    transform: none;
    margin-top: 1.5rem;
    margin-left: 2rem;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
}