@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    user-select:none;
}

button{
    background: #2c54ac;
    font-family: 'Koulen', cursive;
    border-radius: 10px;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 2vw;
}

input{
    padding-left: 10px;
    margin-left: 1rem;
    width: 40px;
    background: #ffffff;
    font-family: 'Koulen', cursive;
    border-radius: 10px;
    color: #000000;
    border: none;
    outline: none;
    font-size: 1.5vw;
}

select{
    background: #ffffff;
    font-family: 'Koulen', cursive;
    border-radius: 10px;
    color: #000000;
    border: none;
    outline: none;
    font-size: 1.5vw;
}

.titulo{
    font-family: 'Koulen', cursive;
    background-image: linear-gradient(to left, #c2fbff, #2c54ac);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 9vw !important;
}

div{
    color: #ffffff;
    font-family: 'Koulen', cursive;
    font-size: 1.5vw;
}